
homeworks/quiz/*
homeworks/exercise/*
homeworks/w3d5/q1/node_modules/*
homeworks/w3d5/q1/package*
homeworks/w3d5/q2/node_modules/*
homeworks/w3d5/q2/package*
homeworks/w3d5/q3/node_modules/*
homeworks/w3d5/q3/package*
homeworks/w3d5/q4/node_modules/*
homeworks/w3d5/q4/package*

homeworks/w3d6/q1/node_modules/*
homeworks/w3d6/q1/package*
homeworks/w3d6/q2/node_modules/*
homeworks/w3d6/q2/package*
homeworks/w3d6/q3_4/node_modules/*
homeworks/w3d6/q3_4/package*

homeworks/w4d1/q1/node_modules/*
homeworks/w4d1/q1/package*
homeworks/w4d1/q2/node_modules/*
homeworks/w4d1/q2/package*
homeworks/w4d1/q3_4/node_modules/*
homeworks/w4d1/q3_4/package*

homeworks/w4d2/q1/node_modules/*
homeworks/w4d2/q1/package*
homeworks/w4d2/q2/node_modules/*
homeworks/w4d2/q2/package*
homeworks/w4d2/q3_4/node_modules/*
homeworks/w4d2/q3_4/package*