
homeworks/quiz/*
homeworks/exercise/*
homeworks/w3d5/q1/node_modules/*
homeworks/w3d5/q1/package*
homeworks/w3d5/q2/node_modules/*
homeworks/w3d5/q2/package*
homeworks/w3d5/q3/node_modules/*
homeworks/w3d5/q3/package*
homeworks/w3d5/q4/node_modules/*
homeworks/w3d5/q4/package*