<!DOCTYPE html>
<html>
	<meta charset="utf-8">
	<head>
		<title><%= title %></title>
	</head>
	<body>
		<header>
			<a href="/product/uno">Add UNO</a> &bull;
			<a href="/product/dos">Add DOS</a> &bull;
			<a href="/product/tre">Add TRE</a>
			<hr>
		</header>
		