<!DOCTYPE html>
<html>
	<head>
		<meta charset="utif-8">
		<title><%= title %></title>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
		<script src="/js/script.js"></script>
	</head>
	<body>
		<header>
			<a href="/product/uno">Add UNO</a> &bull;
			<a href="/product/dos">Add DOS</a> &bull;
			<a href="/product/tre">Add TRE</a>
			<p id="message"></p>
			<hr>
		</header>
		